<a href="https://colab.research.google.com/github/Rishabh9559/Data_science/blob/main/EDA_Workflow_Industry_Style.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EDA Workflow : Industry Style**

**Step 1**: conver raw data into manageable structure format file. like csv file or json file

In [18]:
import pandas as pd
data=pd.read_csv("/content/da.csv")

csv file is combination of Row and Column

### **step 1. 1: data exploration**

In [19]:
data # see sample of data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

In [20]:
data.shape  # total number of row and cloumn

(1143, 13)

In [21]:
data.dtypes # list all data types of all columns

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
Id                        int64
dtype: object

In [22]:
data.isna().sum()  ## check the null value in earch column

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
Id                      0
dtype: int64

In [23]:
data.describe()  ## this discribe the data
                 # mean, count, std, min, max

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
count,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000
mean,8.311111,0.531339,0.268364,2.532152,0.086933,15.615486,45.914698,0.996730,3.311015,0.657708,10.442111,5.657043,804.969379
std,1.747595,0.179633,0.196686,1.355917,0.047267,10.250486,32.782130,0.001925,0.156664,0.170399,1.082196,0.805824,463.997116
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000,0.000000
25%,7.100000,0.392500,0.090000,1.900000,0.070000,7.000000,21.000000,0.995570,3.205000,0.550000,9.500000,5.000000,411.000000
50%,7.900000,0.520000,0.250000,2.200000,0.079000,13.000000,37.000000,0.996680,3.310000,0.620000,10.200000,6.000000,794.000000
75%,9.100000,0.640000,0.420000,2.600000,0.090000,21.000000,61.000000,0.997845,3.400000,0.730000,11.100000,6.000000,1209.500000
max,15.900000,1.580000,1.000000,15.500000,0.611000,68.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000,1597.000000

### **Step 1.2 Handling Duplicates**

In [25]:
duplicate_row_mask = data.duplicated()  ## number of duplicate row
dupplicate = data.loc[duplicate_row_mask]
# The loc method in Pandas is used for label-based indexing to access a group of rows and columns by their labels (names).

# print(duplicate_row_mask)
# print(dupplicate)

print(f'Total number of rows : {data.shape[0]}')
print(f'NUmber of duplicate row found : {len(dupplicate)}' )

Total number of rows : 1143
NUmber of duplicate row found : 0

In [28]:
duplicate_rowID_mask = data.duplicated(['Id'])

print(f'number of duplicate entire rowa are : {len(data.loc[duplicate_row_mask])}')

print(f'number of rows with duplicate row_id attribute are : {len(data.loc[duplicate_rowID_mask])}')

number of duplicate entire rowa are : 0
number of rows with duplicate row_id attribute are : 0

Drop the duplicate rows

In [29]:
data = data.drop_duplicates()
print(f'Shape of data after dropping duplicates: {data.shape}')

Shape of data after dropping duplicates: (1143, 13)

In [ ]:
# perticular column drop
data.drop(['column namee'], axis='columns', inplace=True)

check again Duplicate value

In [31]:
dupilcate_row = data.duplicated()
data[dupilcate_row]

Empty DataFrame
Columns: [fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, quality, Id]
Index: []

If found just Drops its

In [32]:
# drop duplicate rows still exist
data.drop(data[dupilcate_row].index, axis='index', inplace=True)
data.shape

(1143, 13)

### **Step 1.3 Data Handling**