<a href="https://colab.research.google.com/github/Rishabh9559/Data_science/blob/main/Python_Recap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Recap**

In [ ]:
# hello world

print("hello world")

hello world

In [ ]:
# sum of two number
a=5
b=3
c=a+b
print(c)

8

In [ ]:
### input value in variable
age=input("enter the age")

print(age)

enter the age18
18

### By default user input in python be in String

In [ ]:

# input only perticular data types values
name=input()

print(f"name is {name}")

Rishabh kushwaha
name is Rishabh kushwaha

In [ ]:
# input in Integer
marks=float(input("enter your marks"))
print(marks)

enter your marks45.84
45.84

#### If and Else

In [ ]:
# if, else and elif
# check a user age if eligible for working class, min 15 ages to 60 working ages

age = int(input("Enter your Age : "))

if age<15:
  print(f"You are under age, you must go school. your age is {age}")

elif age >15 and age<=60 :
  print(f"You are eligible for working class, your age is {age}")

else:
  print("You are old man, enjoy your remanning life")

Enter your Age : 1
You are under age, you must go school. your age is 1

#### **and or not**

### Question:

Consider the following variables:
```python
has_ticket = True
is_vip = False
age = 17
```
Write a Python `if-else` statement that prints "Welcome to the event!" if the person `has_ticket` **AND** either `is_vip` **OR** `age` is 18 or older. Otherwise, print "Sorry, you cannot enter."

In [ ]:
# and, or, not
ticket = True
vip = False
age = 18

if ticket and (vip or age>=18):
  print("Welcome master")
else:
  print("Babay boy go to home")

Welcome master

## Python Collections (Arrays)
There are four collection data types in the Python programming language:

* **list1** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered and changeable. No duplicate members.

## **list1**
list1 is a store collection of data.


list1s are used to store multiple items in a single variable.
<br>
list1 items are
* order
* changeable
* allow duplicate values
<br>
list1 items are indexed, the first index be [0].

**Negative Indexing** <br>
Negative indexing means start from the end

list1 has ordered, the items have a defined order and that order will not changes.

New items add to list1 at end place of the list1.

| Method   | Description |
|----------|-------------|
| append() | Adds an element at the end of the list |
| clear()  | Removes all the elements from the list |
| copy()   | Returns a copy of the list |
| count()  | Returns the number of elements with the specified value |
| extend() | Adds the elements of a list (or any iterable) to the end of the current list |
| index()  | Returns the index of the first element with the specified value |
| insert() | Adds an element at the specified position |
| pop()    | Removes the element at the specified position |
| remove() | Removes the item with the specified value |
| reverse()| Reverses the order of the list |
| sort()   | Sorts the list |

In [ ]:
# list1 define

list1 = [1, 2, 3, 5]
print(list1)

# list1- allows duplicate value
list1 = [1,1,5,6,9,6]
print(list1)

# list1- length - len()

print(len(list1))

# list1 - type()
print(type(list1))

# list1- access items by index

print(list1[2])

# list1 - negative index - -2, last two
print(list1[-2])

# list1 - Range between index. Fist index include and last not include
print(list1[1:-2])

# Update value in list1
list1[1]=100
print(list1)

# update value in list1 in group
list1[2:4] = [400, 500]
print(list1)

# list1- Insert() new value at peticular index
list1.insert(1,900)
print(list1)

# list1 - append() : add new items at last no index required
list1.append(1000)
print(list1)

# list1- extend() : append one list1 into another list1, sets, tuples
list12 = [18, 19, 20]
list1.extend(list12)
print(list1)

# list1- remove() : used to remove items by value
list1.remove(1)
print(list1)

# list1 - pop() : method used remove items at perticular index
list1.pop(5)
print(list1)

# list1 - del keywords used to delete entry list1 completely and you can also delete index

del list12
# print(list12) # this will raise an error because you have succsesfully deleted list12

# list1 - clear() : method used to delete all items inside list1.

# list1 - reverse() : method reverse the order of elements, regardlesss of alphabet
list1.reverse()
print(list1)

# list1 - sort() : method used to sort in accending order
list1.sort()
print(list1)

# list1 - sort( reverse = True ) : method used to sort at descending order
list1.sort(reverse=True)
print(list1)

# list1 - sort(): method is case senstivity
thislist1 = ["banana", "Orange", "Kiwi", "cherry"]
thislist1.sort(key = str.lower)
print(thislist1)

[1, 2, 3, 5]
[1, 1, 5, 6, 9, 6]
6
<class 'list'>
5
9
[1, 5, 6]
[1, 100, 5, 6, 9, 6]
[1, 100, 400, 500, 9, 6]
[1, 900, 100, 400, 500, 9, 6]
[1, 900, 100, 400, 500, 9, 6, 1000]
[1, 900, 100, 400, 500, 9, 6, 1000, 18, 19, 20]
[900, 100, 400, 500, 9, 6, 1000, 18, 19, 20]
[900, 100, 400, 500, 9, 1000, 18, 19, 20]
[20, 19, 18, 1000, 9, 500, 400, 100, 900]
[9, 18, 19, 20, 100, 400, 500, 900, 1000]
[1000, 900, 500, 400, 100, 20, 19, 18, 9]
['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:

"""
You cannot copy a list1 simply by typing list12 = list11,
because: list12 will only be a reference to list11,
and changes made in list11 will automatically also be made in list12.

"""

# list1 - copy : method
list1frute = ["apple", "orange", "mango", "pineapple"]

list1copy = list1frute.copy()
list1frute.append("banana")
print(list1copy)

# list1 copy used slice operator
lsit2 = list1frute[:]
print(lsit2)

# List - join two list into another third list
list4 = list1+lsit2
print(list4)

['apple', 'orange', 'mango', 'pineapple']
['apple', 'orange', 'mango', 'pineapple', 'banana']
[1000, 900, 500, 400, 100, 20, 19, 18, 9, 'apple', 'orange', 'mango', 'pineapple', 'banana']

## **Tuple**
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

**Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.**

| Method   | Description |
|----------|-------------|
| count() | Return the number of times a specified value occurs in a tuple |
| index() | Searchs the tuple for specified value and return the position of where it was found |

In [ ]:
# Tuple

mytuble = ("apple", "banana", "cherry")
print(mytuble)

print(type(mytuble))

# allow duplicated
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

# Tuple : len()
print(len(thistuple))

# Tuple - acces tuple by index
print(thistuple[-1]) # last value

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

# Tuple - modify by convert into list then change after rechange into tuple
x = ("apple", "banana", "cherry")
y = list(x)
y.append("orange")
x = tuple(y)
print(x)


# Join tuple
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

# Tuple - Multiply by given number by using *
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry')
<class 'tuple'>
('apple', 'banana', 'cherry', 'apple', 'cherry')
5
cherry
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## **Set**
Sets are used to store multiple items in a single variable.


A set is a collection which is unordered, unchangeable*, and unindexed.


**Note: The values True and 1 are considered the same value in sets, and are treated as duplicates**

**Note: The values False and 0 are considered the same value in sets, and are treated as duplicates**

| Method                         | Shortcut | Description                                                                 |
|--------------------------------|----------|-----------------------------------------------------------------------------|
| add()                          |         | Adds an element to the set                                                  |
| clear()                        |         | Removes all the elements from the set                                       |
| copy()                         |        | Returns a copy of the set                                                   |
| difference()                   | —        | Returns a set containing the difference between two or more sets            |
| difference_update()            | -=       | Removes items in this set that are also included in another set             |
| discard()                      |         | Removes the specified item                                                  |
| intersection()                 | &        | Returns a set that is the intersection of two other sets                    |
| intersection_update()          | &=       | Removes items not present in other specified set(s)                         |
| isdisjoint()                   |         | Returns whether two sets have an intersection                               |
| issubset()                     | <=       | Returns True if all items of this set are present in another set            |
| issubset()                     | <        | Returns True if all items of this set are present in a larger set           |
| issuperset()                   | >=       | Returns True if all items of another set are present in this set            |
| issuperset()                   | >        | Returns True if all items of another set are present in a smaller set       |
| pop()                          |         | Removes an element from the set                                             |
| remove()                       |         | Removes the specified element                                               |
| symmetric_difference()         | ^        | Returns a set with the symmetric differences of two sets                    |
| symmetric_difference_update()  | ^=       | Inserts the symmetric differences from this set and another                 |
| union()             |      | Returns a set containing the union of sets                                  |
| update() |        | Updates the set with the union of this set and others                       |

In [1]:
# Set
set1 = {"Rishabh", "Happy", "Ramesh", "Rakesh"}
print(set1)

{'Happy', 'Rakesh', 'Rishabh', 'Ramesh'}

In [16]:
# set - duplicate not allows
thisset = {"apple", "banana", "cherry", "apple", "eggs", "lion"}
print(thisset)

#Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

myset = {"apple", "banana", "cherry", True, 1, 2}
print(myset)

# Set - len()
print(len(myset))


# Set - add() : method used to add items at random places
myset.add("Tiger")
print(myset)

# Set - update() : method used to add one set into another set
#  update() : can be any object types- list, tuple,etc
myset.update(thisset)
print(myset)


# Set - remove() : remove items, not present items give error
myset.remove('apple')
print(myset)


# Set - discard() : this remove the items, but give error if not present
myset.discard("egg")
print(myset)

# Set - pop() : method random remove items and return items
items = myset.pop()
print(items)

{'cherry', 'eggs', 'banana', 'apple', 'lion'}
{'cherry', True, 2, 'banana', 'apple'}
5
{'cherry', True, 2, 'Tiger', 'banana', 'apple'}
{'cherry', True, 2, 'Tiger', 'apple', 'lion', 'banana', 'eggs'}
{'cherry', True, 2, 'Tiger', 'lion', 'banana', 'eggs'}
{'cherry', True, 2, 'Tiger', 'lion', 'banana', 'eggs'}
cherry

**Join Sets** <br>
There are several ways to join two or more sets in Python.

* The **union() and update()** methods joins all items from both sets.

* The **intersection()** method keeps ONLY the duplicates.

* The **difference()** method keeps the items from the first set that are not in the other set(s).

* The **symmetric_difference()** method keeps all items EXCEPT the duplicates.

## **Dictionaries**

Dictionaries used to store date values in key-values pairs.

Dictionary is a collection which is **ordered, changeable and do not allow duplicates**.

## Dictionary Methods

Python has a set of built-in methods that you can use on dictionaries.

| Method        | Description                                                                 |
|---------------|-----------------------------------------------------------------------------|
| `clear()`     | Removes all the elements from the dictionary                                |
| `copy()`      | Returns a copy of the dictionary                                            |
| `fromkeys()`  | Returns a dictionary with the specified keys and value                      |
| `get()`       | Returns the value of the specified key                                      |
| `items()`     | Returns a list containing a tuple for each key–value pair                   |
| `keys()`      | Returns a list containing the dictionary's keys                             |
| `pop()`       | Removes the element with the specified key                                  |
| `popitem()`   | Removes the last inserted key–value pair                                    |
| `setdefault()`| Returns the value of the specified key. If the key does not exist, inserts it with the specified value |
| `update()`    | Updates the dictionary with the specified key–value pairs                   |
| `values()`    | Returns a list of all the values in the dictionary                           |

In [2]:
# Dictionary

mydictionary = {

                "name" : "Rishabh Kushwaha",
                "systemID" : "123456789",
                "address" : "Noida, Uttarpradesh, India",
                "age" : 22
}

print(mydictionary)

{'name': 'Rishabh Kushwaha', 'systemID': '123456789', 'address': 'Noida, Uttarpradesh, India', 'age': 22}

In [3]:
# Dictionary - len()
print(len(mydictionary))

# Dictionary - type()
print(type(mydictionary))


# Dictionary - acces item by key
print(mydictionary['name'])


# Dictionary - get() : method used to get value by giving key
values = mydictionary.get('address')
print(values)


# Dictionary - keys() : method return all key as list
mykeys = mydictionary.keys()
print(mykeys)


# Dictionary - values() : method used to retun all values
myvalues = mydictionary.values()
print(myvalues)


# Dictionary - change values
mydictionary['age'] = 23
print(mydictionary)


# dictionary - update() : add new key-value and update previus one.
mydictionary.update({"subject" : "Python"})
print(mydictionary)


# Dictionary : pop() - method used to remove specific key
mydictionary.pop("systemID")
print(mydictionary)


# Dictionary - copy() : method used to copy
copyDictionary = mydictionary.copy()
print(copyDictionary)

4
<class 'dict'>
Rishabh Kushwaha
Noida, Uttarpradesh, India
dict_keys(['name', 'systemID', 'address', 'age'])
dict_values(['Rishabh Kushwaha', '123456789', 'Noida, Uttarpradesh, India', 22])
{'name': 'Rishabh Kushwaha', 'systemID': '123456789', 'address': 'Noida, Uttarpradesh, India', 'age': 23}
{'name': 'Rishabh Kushwaha', 'systemID': '123456789', 'address': 'Noida, Uttarpradesh, India', 'age': 23, 'subject': 'Python'}
{'name': 'Rishabh Kushwaha', 'address': 'Noida, Uttarpradesh, India', 'age': 23, 'subject': 'Python'}
{'name': 'Rishabh Kushwaha', 'address': 'Noida, Uttarpradesh, India', 'age': 23, 'subject': 'Python'}

In [6]:
# Nested Dictionary
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

# Acces nest dictionary
print(myfamily['child2']['year'])

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
2007

## **Match**
Match statement like switch statement in c, java.

In [7]:
# Match statement

day = 4
match day:
  case 1:
    print('Monday')
  case 2:
    print('Tuesday')
  case 3:
    print('Wednesday')
  case 4:
    print('Thursday')
  case 5:
    print('Friday')
  case 6:
    print('Saturday')
  case 7:
    print('Sunday')
  case _:
    print('Invalid day')

Thursday

### Loop - For-loop, while-loop

In [9]:
# While loop
i=1
while i<10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9

In [10]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [11]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [14]:
# For Looop -- list
fruits = ['apple','banana','orange','waterlemon'] # list

for i in fruits:
  print(i)

print("-------------------------")
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
banana
orange
waterlemon
-------------------------
apple
orange
waterlemon

**The range()** function defaults to increment the sequence by **1**, however it is possible to specify the increment value by adding a third parameter

In [16]:
for i in range(2, 30, 3):
  print(i)
# start - 2
# stop before - 30
# incress by - 3

2
5
8
11
14
17
20
23
26
29

In [17]:
# for loop -- set-unorder, no duplicate, not update
myset = {'anya', 'arya', 'ananya'}

for i in myset:
  print(i)

arya
anya
ananya

In [18]:
# for loop - tuple -order, not update, no add
mytuple = ('rishabh', 'rahul', 'rakesh')

for i in mytuple:
  print(i)

rishabh
rahul
rakesh

In [19]:
# for lopp - dictionary -order, no duplicate
for i in mydictionary:
  print(mydictionary.get(i)) # acces value

Rishabh Kushwaha
Noida, Uttarpradesh, India
23
Python

## **Function**
Fucntion help to reduce the line of code and promotes code reusebility

In [23]:
def fahToCel(temp):
  res = (temp-32 ) * 5/9
  return res.__round__(2)

print(fahToCel(100))

37.78

In [24]:

# Define the decorator first, then apply it with @decorator_name above the function.

def changecase(func):
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Hello Sally"

print(myfunction())

HELLO SALLY

In [26]:
# Write Fucntio to check even or odd
def check_even_odd(num):
  if num%2==0:
    return "even"
  else:
    return "odd"

print(check_even_odd(2))
print(check_even_odd(5))
print(check_even_odd(9))

even
odd
odd

In [27]:
# Write function to find factoral
def factorial(num):
  if num<=1:
    return 1
  return num*factorial(num-1)

print(factorial(5))

120

In [28]:
# write function check prime or not with log n.
def isPrime(num):
  if num <= 1:
    return "NO"

  i = 2
  while i*i <= num:
    if num % i==0:
      return "NO"
    i+=1

  return "YES"

print(isPrime(1))
print(isPrime(2))
print(isPrime(3))
print(isPrime(4))
print(isPrime(11))
print(isPrime(15))

NO
YES
YES
NO
YES
NO