<a href="https://colab.research.google.com/github/Rishabh9559/Data_science/blob/main/SQL/retrieving_SELECT/Retrieving_data_with_select.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Retrieving Data with Select Statements**

| Key Name           | Type              | Definition                                                                 |
|--------------------|-------------------|-----------------------------------------------------------------------------|
| PRIMARY KEY        | Uniqueness Key    | Uniquely identifies each row in a table; cannot contain NULL.              |
| FOREIGN KEY        | Relationship Key  | Links two tables; references PRIMARY KEY of another table.                 |
| CANDIDATE KEY      | Uniqueness Key    | Columns that qualify to become a PRIMARY KEY.                              |
| SUPER KEY          | Uniqueness Key    | Any set of columns that uniquely identify a row (including extra columns). |
| COMPOSITE KEY      | Uniqueness Key    | A primary/unique key made of 2 or more columns.                            |
| UNIQUE KEY         | Uniqueness Key    | Ensures values in a column are unique, but allows one NULL.                |
| ALTERNATE KEY      | Uniqueness Key    | Candidate keys that are not selected as PRIMARY KEY.                       |
| CHECK CONSTRAINT   | Validation Key    | Ensures data meets specific conditions.                                    |
| NOT NULL           | Validation Key    | Ensures a column cannot store NULL values.                                 |
| DEFAULT            | Validation Key    | Sets a default value for a column when no value is provided.               |
| INDEX              | Performance Key   | Improves search and query performance on columns.                          |
| FULLTEXT INDEX     | Search Key        | Used for full-text search in large text fields.                            |
| UNIQUE INDEX       | Uniqueness Key    | Ensures indexed column values are unique.                                  |

#### **Note: AUTO_INCREMENT** used in ID automatically incress the index

#### **INSERT** : INSERT INTO table-name VALUES ("rishabh", "kushwaha", 78 )

  * Insert value into table

**INSERT WITH COLUMN AND VALUE**

INSERT INTO table-name (ID, NAME, ADDRESS) VALUES (45, "rk", "india")

### **ALTER** Modify a Single Column Data Type



```
ALTER TABLE table_name
MODIFY COLUMN column_name NEW_DATATYPE

```

### **NOT NULL** Constraint

* To avoid any null value in specific column

    

```
CREATE TABLE table-name(
  id int PRIMARY KEY,
  first-name varchar(100) NOT NULL,
  address varchar(100) NOT NULL
)
```

## **SELECT** Retrive data



Retrive all data from Table
```

SELECT * FROM table-name;

```


Retrive perticular column table


```

SELECT column-name, column-name, column-name FROM tbale-name

```

Retrive data perticular column with condition


```

SELECT first-name, last-name, salary FROM employe-table WHERE salary>=50000;


```

#### ORDER BY
  * DESC
  * ASC
```
SELECT first-name, last-name, salary FROM employe-table WHERE salary>=50000 ORDER BY salary DESC
```

#### **LIMIT**
```
SELECT name, salary FROM employe-table WHERE salary>5000 LIMIT 2;
```