<a href="https://colab.research.google.com/github/Rishabh9559/Data_science/blob/main/SQL/Group_by%20and%20Alter_%20ep5/Group_BY_and_Alter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **GROUP BY and ALTER TECHNIQUES**

## **LIKE**
The LIKE operator is used in SQL to search for a specific pattern in a column, usually with text fields

<br>


* Search from the beginning
```
SELECT * FROM employe-table WHERE employeName LIKE 'Ram%'

```

<br>

* Search at the end
```
SELECT * FROM employe-table WHERE name LIKE '%bh';

```
<br>

* Search inside (contains)
```
SELECT * FROM employe-table WHERE name LIKE '%sh%'

```

<br>

* Search specific length
```
SELECT CoursName FROM coures WHERE CoursName LIKE '%__ce';

```

<br>

* Search For Not Like
```
SELECT *
FROM coures
WHERE CoursName NOT LIKE 'data%';

```

## **GROUP BY**

GROUP BY is used to group rows that have the same value in one or more columns and perform aggregate calculations on them.

It is mainly used with aggregate functions:

* COUNT()

* SUM()

* AVG()

* MAX()

* MIN()


```
SELECT column1, AGG_FUNC(column2)
FROM table_name
GROUP BY column1;

```

#### **Important GROUP BY Constraints (Rules)**

* All non-aggregate columns must be in GROUP BY

Correct
```
SELECT courseName COUNT(StudentID) FROM student-table GROUP BY courseName;

```
Wrong ➡ you must mention all column name after group by , that mentation after SELECT column name

```
SELECT CourseName, StudentID
FROM Students
GROUP BY CourseName;   -- StudentID not aggregated → error
```


<br>

* GROUP BY always comes after WHERE and before ORDER BY

```
SELECT CourseID, COUNT(studentID) FROM student WHERE CourseID=1 GROUP BY CourseID;

```

```
SELECT ...
FROM ...
WHERE ...
GROUP BY ...
HAVING ...
ORDER BY ...;

```
<br>


* Join with group by
```
SELECT C.CourseID, C.CoursName,  COUNT(C.CourseID) AS NumofStudent FROM coures  C JOIN student  s ON C.CourseID=s.CourseID GROUP BY C.CourseID, C.CoursName;

```

1. Count students in each course

```
SELECT CourseID COUNT(courseID) as TotalStudent FROM course-table GROUP BY courseID;

```

2. Total revenue per course

```
SELECT CourseName, SUM(CourseFee) AS revenue
FROM Courses
GROUP BY CourseName;
```

3. Highest fee per category
```
SELECT category, MAX(price)
FROM products
GROUP BY category;
```

4. Using **HAVING** with GROUP BY

We can not used **WHERE** after **GROUP BY**

```
SELECT CourseName, COUNT(*) AS total
FROM Student
GROUP BY CourseName
HAVING COUNT(*) >= 5;

```

#### **HAVING**
Only Filter used on Aggregation Operator Only

Like ➡ you can apply **HAVING** filter **COUNT, MAX, MIN, AVG, SUM**

```
SELECT department, COUNT(*)
FROM Employees
WHERE salary > 20000         -- filter rows
GROUP BY department
HAVING COUNT(*) > 10;        -- filter groups
```

#### **Example Group by + Order by + having**

```

SELECT
    CourseID,
    COUNT(studentID) AS TotalStudents,
    AVG(Marks) AS AverageMarks
FROM Students
WHERE Marks >= 50                 -- 1) filter rows first
GROUP BY CourseID                 -- 2) group the remaining rows
HAVING AVG(Marks) > 75            -- 3) apply condition on groups
ORDER BY AverageMarks DESC;       -- 4) sorting final result


```