<a href="https://colab.research.google.com/github/Rishabh9559/Data_science/blob/main/SQL/Window_and_Ranking_Function_6/Window_and_Ranking_Function_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Window and Ranking Funtions**

### **Window Function**

A Window Function in SQL is a special function that performs calculations across a set of rows (a window) but without collapsing the rows into a single row, unlike GROUP BY.


A window function allows you to perform:

* SUM
* AVG

* COUNT

* RANK

* ROW_NUMBER

* LAG / LEAD

```

function_name() OVER (
    PARTITION BY column   -- like GROUP BY, optional
    ORDER BY column       -- for ranking / cumulative sum
)


```

**Without PARTITION BY**
```
SELECT Name, Department, Temp.Place, Total, AvgSalary FROM employe JOIN
(
	SELECT Place, COUNT(Place) AS Total, AVG(Salary) AS AvgSalary FROM employe GROUP BY Place
)  AS Temp ON Employe.Place=Temp.Place;

```

**PARTITION BY** groups rows for calculation only, but keeps all rows

**Template**
```
function_name(column) OVER (
    PARTITION BY column1, column2
    ORDER BY column3
)


```

1. **PARTITION BY**

```
SELECT
    Name,
    Department,
    Salary,
    COUNT(Place) OVER (PARTITION BY Place) AS Total
FROM Employe;

```

**1. ROW_NUMBER()** Gives row number per partition.

```
SELECT Name
  ROW_NUMBER() OVER (ORDER BY Salary DESC) AS RowNum

FROM Employe;

```

**2. RANK() / DENSE_RANK()**

Ranks employees.

```
SELECT Name RANK() OVER (ORDER BY Salary DESC) AS Rank
FROM Employe;

```

**Second largest Salary**

```
SELECT DISTINCT Salary
FROM Employe
ORDER BY Salary DESC
LIMIT 1 OFFSET 1;

```
```
SELECT * FROM (
	SELECT * , DENSE_RANK() OVER (ORDER BY Salary DESC ) AS top FROM employe
) AS Temp WHERE top=2;


```

**Display ALL highest salary for each location**

```
SELECT * FROM
(
  SELECT * , ROW_NUMBER() OVER (PARTITION BY Place ORDER BY Salary DESC) AS Rak FROM Employe
) AS Temp WHERE Rak=1;

```


**3. SUM() OVER() (Running Total)**

```
SELECT * , SUM(Salary) OVER  (ORDER BY EmpID) AS RuningTotal
FROM employe
```

**4. LAG() / LEAD()**

Get previous or next row value.


```
SELECT Name, Salary,
       LAG(Salary) OVER(ORDER BY EmpID) AS PrevSalary
FROM Employe;


```