<a href="https://colab.research.google.com/github/Rishabh9559/Data_science/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple**  :  tup=(1,2,3)  <br> All property of string, array, slice , split follow <br> tuple is  immutable we can not add new element

In [3]:
myTuple=(1,4,9)
print(type(myTuple))  # data type
print(myTuple[0]) # index

<class 'tuple'>
1

In [16]:
myTuble2=(1,2,3,[4,5,6])
print(myTuble2[2])
print(myTuble2[3][1])  # nested indexing
print(myTuble2[0:3]) #start : end
print(myTuble2[: :-1])  # reverse
print(myTuble2[0:-1]) #start : end : step

3
5
(1, 2, 3)
([4, 5, 6], 3, 2, 1)
(1,)

Build in function

In [23]:

print(myTuble2.index(3))  # what is value of on index
print(myTuble2.count(1))  # count freq
print(max(myTuple))  # max number
print(min(myTuple)) # min number
print(sum(myTuple)) # sum of all number

2
1
9
1
14

**Tuple to list** <br> **List to Tuple**

In [25]:
tuple3=('rahul','rakesh','Rishabh','rajat')

#convert tuple into list
list1=list(tuple3)
print(list1)

list2=['vishal','vaishnavi','vivek','vaani']

list1.extend(list2)  # add two list , if we used append then only one element add
print(list1)

['rahul', 'rakesh', 'Rishabh', 'rajat']
['rahul', 'rakesh', 'Rishabh', 'rajat', 'vishal', 'vaishnavi', 'vivek', 'vaani']