<a href="https://colab.research.google.com/github/Rishabh9559/Data_science/blob/main/SQL/Case%20statement%20%20and%20CTE%20ep%208/case_statement_ep_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CASE STATEMENT AND CTE**

**The CASE statement in SQL provides conditional logic, allowing you to return different values based on specified conditions. It functions similarly to an "if-then-else" construct in other programming languages**

## **There are two main forms of the CASE statement:**

### 1. **Simple Case**



```
SELECT Empname, EmpID, EmpSalary, Department
  CASE Department
    WHEN 'HR' THEN 'Human Resource
    WHEN 'IT' THEN 'Technical Teams
    WHEN 'Finance' THEN 'Account team'
    ELSE 'other department'
  END AS department_des

FORM Employe-table

```

### **2. Searched CASE**
```
SELECT name, salary, emailid,
  CASE
    WHEN salary>200000 THEN 'High salary'
    WHEN salary BETWEEN 30000 AND 69999 THEN 'meddle salary'
    ELSE 'low salary'
  END AS Salary_level

FROM Employe

```

### **3. ORDER BY**

```
SELECT name, salary,
    CASE
        WHEN salary >= 70000 THEN 'High'
        WHEN salary >= 40000 THEN 'Medium'
        ELSE 'Low'
    END AS salary_category
FROM employees
ORDER BY
    CASE
        WHEN salary >= 70000 THEN 1
        WHEN salary >= 40000 THEN 2
        ELSE 3
    END;


```