<a href="https://colab.research.google.com/github/Rishabh9559/Data_science/blob/main/SQL/JOINS%20ep%207/SQL_JOINS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL JOINS AND SUBQUERIES**

SQL JOIN is used to combine rows from two or more tables based on a related column.

### **Note: JOIN by default using INNER JOIN**

**1. INNER JOIN**

Returns only matching records from both tables.<br>
It returns only rows where CourseID matches in both tables.

```
SELECT CourseName, C.CourseID, Price,
COUNT(C.CourseID) AS toatl FROM Student s
JOIN Course C ON s.CourseID=C.CourseID
GROUP BY CourseName, C.CourseID, Price;

```

**2. LEFT JOIN (LEFT OUTER JOIN)**

* All rows from LEFT table

* Matching rows from right table

* Unmatched rows from right become NULL


```
SELECT s.StudentName, c.CourseName
FROM Students s
LEFT JOIN Courses c
ON s.CourseID = c.CourseID;


```

**3. RIGHT JOIN (RIGHT OUTER JOIN)**
* All rows from RIGHT table

* Matching from left

* Unmatched from left become NULL

```
SELECT s.StudentName, c.CourseName
FROM Students s
RIGHT JOIN Courses c
ON s.CourseID = c.CourseID;

```

**4. FULL OUTER JOIN**

Unmatched values become NULL.

Note: MySQL does NOT support FULL OUTER JOIN directly
Solution â†’ use UNION of LEFT and RIGHT JOIN.

```
SELECT * FROM coures c CROSS JOIN student ORDER BY c.CourseID;

```


**6. SELF JOIN**

Table Joins itself
```
SELECT A.Name, B.Name
FROM Employees A
JOIN Employees B
ON A.ManagerID = B.EmpID;

```