<a href="https://colab.research.google.com/github/Rishabh9559/Data_science/blob/main/SQL/DBMS_Normal_Forms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DBMS Normal Forms**

## **1 Normal Form**

  * In 1 normal form each attribule have only one unit of context
  * Each field contains atomic (single) values
  * No repeating groups or multi-valued attrib

  example:
  | StudentID | StudentName | Subjects     |
| --------- | ----------- | ------------ |
| 101       | Rishabh     | DBMS, OS, CN |
| 102       | Amit        | OS, CN       |
| 103       | Neha        | DBMS         |


* Here in subject attribute/ column have more than one value in record so its not 1NF, we have to convert into single pr unit forms.

1NF solution: split table into Base table and Referance table

Base Table:
| StudentID (PK) | StudentName |
| -------------- | ----------- |
| 101            | Rishabh     |
| 102            | Amit        |
| 103            | Neha        |


Referance Table :
| StudentID (FK) | CourseName |
| -------------- | ---------- |
| 101            | DBMS       |
| 101            | OS         |
| 101            | CN         |
| 102            | OS         |
| 102            | CN         |
| 103            | DBMS       |